@import url(reset.css);

@font-face {
    font-family: "Lato-Bold";
    src: local("Lato-Bold"),
        url(../fonts/Lato.ttf) format("ttf"),
        url(../fonts/lato-bold.otf) format("otf"),
        url(../fonts/lato-bold.eot) format("eot"),
        url(../fonts/lato-bold.woff) format("woff"),
        url(../fonts/lato-bold.woff2) format("woff2");
}

body {
    font-family: "Lato-Bold", "Arial", sans-serif;
    display: block;
    margin: 8px;
    margin-top: 50px;
}

.qr_container {
    display: block;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
}

.qr_container > div {
    width: 350px;
    height: 390px;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.button-container {

}

.button {
    width: 350px;
    display: block;
    border: 2px solid #0D4CD3;
    border-radius: 8px;
    padding: 14px 0;
    text-align: center;
    text-decoration: none;
    color: #0D4CD3;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
}

.plohoy_alexandr {
    background-image: url("../static/images/admin.jpg");
}

.catherine {
    background-image: url("../static/images/catherine.jpg");
}


@media screen and (max-width: 1100px) {

}

@media (max-height: 850px) {
}