<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Spitter</title>
    </head>
    <body>
        <div>Hello, {{name}}!</div>
        <a href="/messages">Show Message List</a>
    </body>
</html>