<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Spitter List</title>
    </head>
    <body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <a href="http://localhost:8080/">Back to Home Page</a>
    <br/>
    <div>
        Add any Message
        <form method="post" action="messages">
            <input type="text" name="text" placeholder="Enter your message.."/>
            <input type="text" name="tag" placeholder="Tag"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Add</button>
        </form>
    </div>
    <br/>
    <div>Message List:</div>
        <form method="post" action="filter">
            <input type="text" name="filter" placeholder="Add filter.."/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Find</button>
        </form>
        {{#messages}}
            <div>
                <b>{{id}}</b>
                <span>{{text}}</span>
                <i>{{tag}}</i>
                <strong>{{authorName}}</strong>
            </div>
        {{/messages}}
    </body>
</html>