<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
    <a href="../">Back to Home Page</a>
    <br/>
    <p>Add any Message</p>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Enter your message.."/>
            <input type="text" name="tag" placeholder="Tag"/>
            <button type="submit">Add</button>
        </form>
    </div>
    <br/>
    <div>Message List:</div>
        <form method="post" action="filter">
            <input type="text" name="filter" placeholder="Add filter.."/>
            <button type="submit">Find</button>
        </form>
        {{#messages}}
            <div>
                <b>{{id}}</b>
                <span>{{text}}</span>
                <i>{{tag}}</i>
            </div>
        {{/messages}}
    </body>
</html>